/* Evangelion Firefox Content - userContent.css */

#urlbar-background, #urlbar, .urlbar-background {
  background-color: var(--urlbar-bg) !important;
  outline: none !important;
  border: none !important;
  border-radius: 0px !important;
  box-shadow: var(--95concave) !important;
}

#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
  border: 1px solid var(--button-colour) !important;
}

.toolbarbutton-1 > .toolbarbutton-icon,
toolbar .toolbarbutton-1 > .toolbarbutton-text,
toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  border-radius: 0px !important;
}

.toolbarbutton-1:hover {
  border-radius: 0px !important;
}

.autoscroller {
  background-image: size_all.png !important;
}

#urlbar-searchmode-switcher {
  background-color: transparent !important;
}
