/* Evangelion Firefox UI - userChrome.css */

.tabbrowser-tab[label^="New Tab"] .tab-icon-image {
  content: url("ff-std-alt.svg") !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: 0px -1px 0px 0px var(--3d-dark) !important;
}

.browser-toolbar {
  background-color: var(--95grey) !important;
}

.tab-background[selected] {
  box-shadow: var(--95convex) !important;
  border-radius: 0 !important;
  background-color: var(--95grey) !important;
  background-image: none !important;
}

.tab-background {
  border-radius: 0px !important;
}

.tab-content {
  color: var(--button-colour) !important;
}

#TabsToolbar .tabs-newtab-button:hover {
  border-radius: 0 !important;
}

.tabs-newtab-button:hover .toolbarbutton-icon {
  border-radius: 0 !important;
}

.toolbarbutton-1 {
  border-radius: 0px !important;
  color: var(--3d-lightest) !important;
  fill: var(--button-colour) !important;
}

.toolbarbutton-icon {
  border-radius: 0px !important;
}

.toolbar-items {
  background-color: var(--95grey) !important;
}

.PanelUI-subView {
  background-color: var(--95grey) !important;
  box-shadow: var(--95convex) !important;
}

.cui-widget-panel, .panel-no-padding {
  --panel-border-radius: 0px !important;
}
